.chart {
    padding: 1rem;
    width: 750px;
    margin: 0 auto;
    border-radius: 12px;
    background-color: #f8dfff;
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 16rem;
    margin-top: 20px;
  }