.image{
    background-image: url('../../../public/vecteezy_flat-lay-top-view-office-table-workspace-with-blank_5107588.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 100%;
    background-attachment: fixed;
}


.body{
    padding: 20px;
    width: 100%;
}

.body input {
    border-radius: 5px;
}

.control input:focus {
    outline: none;
    border-color: #7a7a7a;
    background: #efefef;
  }

.invalid input{
    background-color: rgb(255, 200, 200);
    border: 1px solid rgb(255, 0, 0);
}

button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}

